<div class="flex justify-center flex-col items-center w-full">
    <!--Projects-->
    <!-- <div class="p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 bg-gray-200 rounded-sm w-full">
        <ng-container *ngFor="let project of projects">
            <app-project
                [project]="project"
            ></app-project>
        </ng-container>
    </div> -->

    <div class="max-w-xl grid grid-cols-2 gap-8">
        <!---Trademark-->
        <div class="bg-white rounded-lg px-4 py-8">
            <div class="flex justify-center pb-4"><fa-icon [icon]="faCopyright" class="text-red-600 text-4xl"></fa-icon></div>
            <div class="pb-2 flex flex-row">
                <div><fa-icon [icon]="faBookmark" class="text-pink-400 pr-2"></fa-icon></div>
                <div class="text-gray-600 font-semibold">This website was designed and written by me.</div>
            </div>

            <div class="pb-2 flex flex-row">
                <div><fa-icon [icon]="faBookmark" class="text-pink-400 pr-2"></fa-icon></div>
                <div class="text-gray-600 font-semibold">It tooks me 24 hours to complete.</div>
            </div>
        </div>

        <div class="bg-white rounded-lg px-4 py-8">
            <div class="flex justify-center pb-4"><fa-icon [icon]="faClipboardList" class="text-teal-600 text-4xl"></fa-icon></div>
            <div class="pb-2 flex flex-row">
                <div><fa-icon [icon]="faBookmark" class="text-pink-400 pr-2"></fa-icon></div>
                <div class="text-gray-600 font-semibold">Angular 8</div>
            </div>

            <div class="pb-2 flex flex-row">
                <div><fa-icon [icon]="faBookmark" class="text-pink-400 pr-2"></fa-icon></div>
                <div class="text-gray-600 font-semibold">D3js drawing lights, charts</div>
            </div>

            <div class="pb-2 flex flex-row">
                <div><fa-icon [icon]="faBookmark" class="text-pink-400 pr-2"></fa-icon></div>
                <div class="text-gray-600 font-semibold">Tailwind/ Angular Material</div>
            </div>
        </div>


    </div>
</div>