$size: 48px;

a {
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    cursor: pointer;
}

a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.fa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #fff, #ddd);
    //box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 20px;
    color: #262626;
    transition: .5s;
}

.fa-facebook {
    color: #3b5998;
}

.fa-google-plus {
    color: #DB4437;
}

.fa-linkedin {
    color: #007bb6;
}

.fa-twitter {
    color: #00aced;
}

.fa-instagram {
    color: #C32AA3;
}


