<div class="home-container">
    <div class="home-content shadow-2xl px-16 py-16">
        <div class="text-gray-800 text-2xl uppercase pb-4 font-semibold">Demo</div>
        <div class="text-gray-600 italic font-semibold pb-2">* These websites are demo for the sake of show off only.</div>
        <div class="text-gray-800 text-base pb-2 font-semibold">2. <a href="https://yedda-dashboard.herokuapp.com/" target="_blank">https://yedda-dashboard.herokuapp.com/</a></div>
        <div class="text-gray-800 text-base pb-2 font-semibold">1. <a href="https://ui-element.herokuapp.com/home" target="_blank">https://ui-element.herokuapp.com/home</a></div>
        <div class="text-gray-800 text-base pb-2 font-semibold">2. <a href="https://tranhuuthu-chart.herokuapp.com/" target="_blank">https://tranhuuthu-chart.herokuapp.com/</a></div>
        <div class="text-gray-800 text-2xl uppercase pb-4 font-semibold">Real projects </div>
        <div class="text-gray-600 italic font-semibold pb-2">All are internal websites/projects</div>
        <div class="text-gray-800 text-base pb-2 font-semibold">1. Old Dashboard system ( Maintenance )</div>
        <div class="text-gray-800 text-base pb-2 font-semibold">Technology: PHP Zend 1 Framework, Jquery, Ajax, mySQL + Postgre, Google charts.</div>
        
        <div class="text-gray-800 text-base pb-2 font-semibold">2. Dashboard system</div>
        <div class="text-gray-800 text-base pb-2 font-semibold">Technologies: Angular 8, State Management ( Ngxs ), Ng Ant Design, D3js charts, SSO, Auto Refresh Token.</div>
        
        <div class="text-gray-800 text-base pb-2 font-semibold">3. Company introduction</div> 
        <div class="text-gray-800 text-base pb-2 font-semibold">Technologies: Angular 9, Ngxs, Tailwind, Angular Material.</div>

        <div class="text-gray-800 text-base pb-2 font-semibold">4. Video/Image upload</div>
        <div class="text-gray-800 text-base pb-2 font-semibold">Technologies: Angular 8, State Management ( Ngxs ), Ng Ant Design, SSO, Auto Refresh Token.</div>

        <div class="text-gray-800 text-base pb-2 font-semibold">5. User management</div>

        <div class="text-gray-800 text-base pb-2 font-semibold">6. ACL management</div>

        <div class="text-gray-800 text-base pb-2 font-semibold">7. Data utilities</div>
        <div class="text-gray-800 text-base pb-2 font-semibold">Technologies: Angular 8+, Angular Material Design, SSO, Auto Refresh Token, Ngxs</div>
    </div>
</div>