
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-4 lg:gap-8 xl:gap-16 card-containers px-4 py-8">
    <ng-container *ngFor="let card of cards">
        <!---Card-->
        <div class="card-item">
            <!---icon-->
            <div 
                class="icon-container" 
                [style.backgroundColor]="card.background"
            >
                <i 
                    nz-icon 
                    [nzType]="card.icon" 
                    nzTheme="outline"
                    [style.color]="card.color"
                    class="text-xl font-semibold"
                ></i>
            </div>

            <!---Text-->
            <div class="card-text-container flex flex-col justify-center items-center pl-4 xl:pl-8">
                <div class="font-semibold text-gray-700 tracking-wide text-lg text-center">
                    {{card.type === 1 ? (card.value | currency:'VND') : card.value}}
                    <span *ngIf="card.type === 2" class="text-gray-500 text-xs">%</span>
                </div>
                <div class="tracking-wide text-gray-600 text-center">{{card.title | titlecase}}</div>
            </div>
        </div>
    </ng-container>
</div>